// Vars
$font: 'Heebo';
$btnColor: #FF6464;
$bgColor: #EDF7FA;

// *global styles
* {
    box-sizing: border-box;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
}
body {
    margin: 0;
    font-family: $font;
    color: #21243D;
    font-weight: 400;
    font-size: 16px;
    .wraper {
        position: relative;
        height: 100%;
        overflow-x: hidden;
    }
    h2 {
        margin: 25px 0;
        font-size: 1.125em;
        font-weight: 400;
        text-align: center;
        @media (min-width: 768px) {
            font-size: 1.375em;
            text-align: left;
        }
    }
}
// herader
@import 'header';

// john section
.john {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    .container{
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row-reverse;
        }
    }
    &_photo {
        display: inline-block;
        position: relative;
        @media (min-width: 768px) {
            width: 50%;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 170px;
            width: 170px;
            background-color: $bgColor;
            top: 9px;
            left: calc(50% - 85px);
            border-radius: 50%;
            @media (min-width: 768px) {
                height: 243px;
                width: 243px;
                left: calc(50% - 121px);
            }
        }
        &_img {
            display: inline-block;
            height: 170px;
            width: 170px;
            top: -9px;
            right: -4px;
            position: relative;
            z-index: 2;
            @media (min-width: 768px) {
                height: 243px;
                width: 243px;
            }
        }
    }
    &_info {
        @media (min-width: 768px) {
            width: 50%;
            text-align: left;
        }
    }
    &_title {
        font-size: 2rem;
        line-height: 40px;
        margin: 34px 0 21px;
        padding-left: 12px;
        padding-right: 12px;
        @media (min-width: 768px) {
            font-size: 44px;
            line-height: 60px;
            padding: 0px;
        }
    }
    &_subtitle {
        margin: 0;
        line-height: 24px;
    }
    &_btn {
        text-decoration: none;
        color: #FFF;
        width: 208px;
        height: 47px;
        background-color: $btnColor;
        display: inline-block;
        padding: 9px 20px 10px;
        border-radius: 2px;
        font-size: 20px;
        font-weight: 500;
        margin-top: 27px;
    }
}
// recent section
.recent {
    background-color: $bgColor;
    padding: 32px 0;
    .container {
        justify-content: center;
        align-items: center;
        @media (min-width: 768px) {
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
        }
        & > a {
            display: none;
            text-decoration: none;
            color: #00A8CC;
            @media (min-width: 768px) {
                padding: 0px;
                display: inline;
            }
        }
    }
    &_posts {
        @media (min-width: 768px) {
            width: 100%;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }
        &_article {
            flex: 1;
            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
            border-radius: 4px;
            padding: 24px 22px;
            width: calc(100% - 10px);
            @media (min-width: 768px) {
                width: calc(50% - 10px);
                padding: 24px 22px;
                flex: 1;
            }
            &:first-child{
                margin-bottom: 17px;
                @media (min-width: 768px) {
                    margin-bottom: unset;
                }
            }
            .article_title {
                margin: 0;
                font-weight: 700;
                font-size: 22px;
                line-height: 30px;
                @media (min-width: 768px) {
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 38.19px;
                }       
            }
            .article_meta {
                display: flex;
                justify-content: flex-start;
                margin: 17px 0 11px;
                column-gap: 30px;
                p {
                    margin: 0;
                }
            }
            .article_subtitle {
                margin: 0;
                line-height: 24px;
            }
        }
    }
}
// work section
.works {
    .work_list {
        list-style: none;
        padding-left: 0;
        margin: 0;   
    }
    .work_list_item {
        padding-bottom: 15px;
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 31px;
        .work_info {
            .date {
                display: inline-block;
                text-decoration: none;
                text-align: center;
                color: #fff;
                width: 62px;
                height: 25px;
                background-color:#142850;
                border-radius: 16px;
            }
            .category {
                text-decoration: none;
                color: #8695A4;
                margin-left: 22px;
            }
        }
        @media (min-width: 768px) {
            display: flex;
            gap: 18px;
        }
        img {
            display: block;
            width: 100%;
        }
        h3 {
            margin: 17px 0 20px;
            font-size: 1.875em;
            @media (min-width: 768px) {
                margin-top: 0;
            }
        }
        p {
            margin: 20px 0 0;
        }
    }
}
// footer
.footer {
    padding: 51px 20px 54px;
    .social-list {
        list-style: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 35px;
        &-item {
            font-size: 0;
        }
        &-link {
            display: block;
            height: 100%;
        }
    }
    .copyraight {
        margin: 20px 0 0;
        text-align: center;
        font-size: 0.875em;
    }
}
